a {
    color: #FFF;
    text-decoration: none;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: #FFB800; /* Indian Yellow */
}

/* MAIN */
main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.content {
    width: 80%;
    height: auto;
    margin: 5rem 0 0 0;
}

.video-container {
    margin: 5% 0 5% 0;
}

.videos {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.video {
    width: 100%;
    background-color: #000;
}

.video-controls {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-controls button {
    display: block;
    background-color: brown;
    min-width: 10%;
}

.video-controls .time {
    display: inline-block;
    padding: .5rem 1rem;
}

.sidebar {
    width: 20%;
    height: auto;
    margin: 5rem 0 0 0;
    background-color: #102E3C; /* Phthalo Green */
}

.sidebar .anchors {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 0 0 0;
}

footer {
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #FFB800; /* Indian Yellow */
}

footer p {
    text-align: center;
    margin: 0;
    padding: 1em 0 0 0;
}

@media only screen and (max-width: 499px) {
    .video-controls {
        flex-direction: column;
        justify-content: center;
    }

    .video-controls button {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
    }
}